<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

  <div class="hero_area">

    
    <th:block th:insert="header.html"></th:block>
  
    <section class="slider_section ">
      <div class="dot_design">
        <img src="images/dots.png" alt="">
      </div>
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <div class="play_btn">
                      <button>
                        <i class="fa fa-play" aria-hidden="true"></i>
                      </button>
                    </div>
                    <h1>
                       <br>
                      <span>
                        Hospital Management System
                      </span>
                    </h1>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="images/p_image.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>   
        </div>
      </div>
    </section>

  </div>







 <th:block th:insert="footer.html"></th:block>




</body>

</html>