<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body class="sub_page">



  <div class="hero_area">
    <!-- header section strats -->
     <th:block th:insert="patient_header.html"></th:block>
    <!-- end header section -->
  </div>

  <section class="contact_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          	Message To Doctor
        </h2>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="form_container">
            <form action="/patientContact" method="post">
              <div>
                <input type="email" th:value="${gmail}" placeholder="Email" name="email"  required="required"/>
              </div>
              <div>
                <input type="text" placeholder="Subject" name="subject" required="required" />
              </div>
              
             <!-- <div>
                <input type="text" placeholder="Phone Number" name="phonenumber" required="required"/>
              </div> -->
              
              <div>
                <input type="text" class="message-box" placeholder="Message" name="message" required="required" />
              </div>
              <div class="btn_box">
              <!-- <button>
                  SEND
                </button>-->
                <input type="submit" value="SEND">
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-5">
          <div class="img-box">
            <img src="images/contact-img.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>



 <th:block th:insert="patient_footer.html"></th:block>



</body>

</html>