<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sign up Form</title>
<link rel="stylesheet" href="" th:href="@{/css/signupstyle.css}">
<style>
.input-field {
            position: relative;
            width: 100%;
            max-width: 400px;
            margin-bottom: 15px;
        }

        .input-field input {
            width: 100%;
            padding-right: 40px; /* Adjust based on the image size */
            box-sizing: border-box;
        }

        .input-field img {
            position: absolute;
            right: 5px;
            top: 40%;
            transform: translateY(-50%);
            cursor: pointer; /* Optional: to indicate that the image is clickable */
            width: 30px;
            height: 30px;
        }
</style>
</head>
<body>

 <div class="container">
      <header style="text-align: center;">Change Password</header>
      
      
      <form action="/change_patient_password" method="post">
   <!--     <p style="color: red">[[${password_not_matched}]]</p>-->
   <div th:if="${password_not_matched}" class="alert alert-danger text-center" role="alert">
    <p th:text="${password_not_matched}"></p>
   </div>
      
        <div class="field create-password">
          <div class="input-field">
            <input
              type="password"
              placeholder="Current password"
              class="password"
              id="password"
              pattern=".{8,}" title="Minimum 8 character"
              name="currentPassword"
              required
            />
            <img alt="" id="eyeicon" src="/images/eye_close.png">
            
            <i class="bx bx-hide show-hide"></i>
          </div>
         
          
        </div>
        
         <div class="field confirm-password">
          <div class="input-field">
            <input
              type="password"
              pattern=".{8,}" title="Minimum 8 character"
              placeholder="New password"
              class="newPassword"
              name="newPassword"
              id="newpassword"
              required
            />
           <img alt="" id="neweyeicon" src="/images/eye_close.png">
            

          </div> 
          
        </div>
        
        <div class="field confirm-password">
          <div class="input-field">
            <input
              type="password"
              pattern=".{8,}" title="Minimum 8 character"
              placeholder="Confirm new password"
              class="confirmPassword"
              name="confirmNewPassword"
              id="conpassword"
              required
            />
            <img alt="" id="coneyeicon" src="/images/eye_close.png">

          </div> 
          
        </div>
        <div class="input-field button">
          <input type="submit" value="Submit Now" />
        </div>
        

       
      </form>
    </div>
    
     <script>
      let eyeicon = document.getElementById("eyeicon");
      let password = document.getElementById("password");

      eyeicon.onclick = function() {
          if (password.type === "password") {
              password.type = "text";
              eyeicon.src = "/images/eye_open.png";
          } else {
              password.type = "password";
              eyeicon.src = "/images/eye_close.png"; 
          }
      }
      
      
      let coneyeicon = document.getElementById("coneyeicon");
      let conpassword = document.getElementById("conpassword");

      coneyeicon.onclick = function() {
          if (conpassword.type === "password") {
              conpassword.type = "text";
              coneyeicon.src = "/images/eye_open.png";
          } else {
              conpassword.type = "password";
              coneyeicon.src = "/images/eye_close.png"; 
          }
      }
      
      let neweyeicon = document.getElementById("neweyeicon");
      let newpassword = document.getElementById("newpassword");

      neweyeicon.onclick = function() {
          if (newpassword.type === "password") {
              newpassword.type = "text";
              neweyeicon.src = "/images/eye_open.png";
          } else {
              newpassword.type = "password";
              neweyeicon.src = "/images/eye_close.png"; 
          }
      }
    </script>
</body>
</html>